<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/">WebScraper</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul id="subheadline" class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/"><span class="sr-only">(current)</span>Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved"><span class="sr-only">(current)</span>Saved Articles</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="card text-center border-light" style="width: 18rem;">

        <!-- Mission -->
        <div>
            <h2> Our Mission </h2>
            <p>
                To make it easier for our users to recall and access articles they have enjoyed reading.
            </p>
        </div>

        <!-- About Us -->

        <div>
            <h4>About</h4>
            <p>
                WebScaper is an application that scours articles on the <em>desiringGod.org website</em>. The purpose
                of the application is to allow users the ability to read and save articles they enjoy for future
                reference. Our users can add notes to the articles. They can also delete or scrap new articles.
            </p>
        </div>

    </div>

</div>

<footer class="footer ">
    <div class="container">
        ©Copyright 2018 rutoproductions
    </div>
</footer>