<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/">WebScraper</a>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul id ="subheadline" class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <button type="button"  class="btn scrapeBtn btn-outline-info btn-sm" >Scrape Articles</button>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/sass.html">About</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
                <img class ="img-fluid" src="/assets/Images/biblia.jpg" alt="Responsive image">
                <div class="centered">
                    <h1 id="title">
                        WebScraper
                    </h1>
                    <p id="subtitle">
                        DesiringGod Edition
                    </p>
                </div>
        </div>
    </div>

     <div class="row">
        <div class="col s12 m12 l12">
            <div class="article-container">
                
            </div>
        </div>
    </div>
</div>

<footer class="page-footer">
    ©Copyright 2018 rutoproductions
    <!--
    <div id="feedback">
        <p>
            Feedback
        </p>
    </div>
    -->
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/javascript/app.js" type="text/javascript"></script>
