* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin:  0px 0px 0px 0px;
    max-width:  100%;

}

.col.s12.m12.l12 {
    padding-left: 0px;
    padding-right: 0px;
} 

.row { 
    margin-bottom: 0px;
}

/*
body {
    background-color: aquamarine
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}
#notes {
    float: right;
    width: 30%;
}
textarea, input {
    display: block;
    width: 100%;
    background-color: bisque;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}

*/