* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin:  0px 0px 0px 0px;
    max-width:  100%;

}

.col.s12.m12.l12 {
    padding-left: 0px;
    padding-right: 0px;
} 

.row { 
    margin-bottom: 0px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

nav ul a, nav .brand-logo {
    color: #e53935;


}

h5 {
    text-align: center;
}

nav .brand-logo {
    margin-left: 10px;
    font-size: 36px;

}

.btn, .btn-large, .btn-small {
    background-color: #e53935;
}

textarea {
    height: 100px;
}

nav {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.page-footer {
    background-color:#e53935;
    color: black;
    padding-bottom: 20px;
    margin-top: 10px;   
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


/*
body {
    background-color: aquamarine
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}
#notes {
    float: right;
    width: 30%;
}
textarea, input {
    display: block;
    width: 100%;
    background-color: bisque;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}

*/