* {
    box-sizing: border-box;
}


a.navbar-brand {
    font-size: 36px;
    font-size: bold;
}

.container,.img-fluid {
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px;

}

#subheadline {
    font-size: 14px;
}
.btn {
    border-radius: 17px;
}
#clearBtn, #scrapeBtn {
    padding: 8px;
}
#clearBtn {
    margin-left: 13px;
    margin-right: 3px;
}
.col.s12.m12.l12 {
    padding-left: 0px;
    padding-right: 0px;
} 

.row { 
    margin: 0px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

#title {
    font-size: 64px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

#subtitle {
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.card.border-success.mb-3 {
    margin: 10px;
    padding: 5px;
    height: 200px;
    width: 276px;
    float: left;
    overflow: auto;
}

.article-container {
    margin: 20px 20px 10px 80px;
}

.page-footer {
    clear: both;
    overflow: auto;
    color: black;
    padding: 20px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
